apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ .Release.Name }}
  labels:
    {{- include "app.labels" . | nindent 4 }}
spec:
  replicas: {{ .Values.deployment.replicaset }}
  selector:
    matchLabels:
      {{- include "app.labels" . | nindent 6 }}
  template:
    metadata:
      labels:
        {{- include "app.labels" . | nindent 8 }}
    spec:
      containers:
        - name: {{ .Release.Name }}
          image: {{ .Values.deployment.imagename }}:{{ .Values.deployment.imagetag }}
          ports:
            - name: metrics
              containerPort: {{ .Values.service.targetport }}
          livenessProbe:
            httpGet:
              path: /health
              port: {{ .Values.service.targetport }}
            initialDelaySeconds: 10
          readinessProbe:
            httpGet:
              path: /ready
              port: {{ .Values.service.targetport }}
            initialDelaySeconds: 5
          resources:
            requests:
              cpu: "100m"
              memory: "128Mi"
            limits:
              cpu: "500m"
              memory: "256Mi"
          env:
            - name: AWS_ACCESS_KEY_ID
              value: "{{ .Values.aws.accessKeyId }}"
            - name: AWS_SECRET_ACCESS_KEY
              value: "{{ .Values.aws.secretAccessKey }}"
            - name: AWS_REGION
              value: "{{ .Values.aws.region }}"
            - name: AWS_DEFAULT_REGION
              value: "{{ .Values.aws.region }}"
